# Build Folders
bin/
/obj/
out/

# User-specific Files
*.user
*.userosscache
*.suo
*.sln.docstates
*.sln.ide

# Logs
*.log
*.tlog

# Visual Studio Files
.vscode/
.vs/

# Crash Reports
*.dmp
*.stackdump

# Package Files
*.nupkg
*.snupkg

# Dependency Folders
packages/
node_modules/

# Temporary Files
*.tmp
*.temp
*.cache
*.~*

# Config Files
appsettings*.json
secrets.json

# Rider IDE Files
.idea/
*.iml

# Resharper
_ReSharper*/
*.DotSettings.user

# Coverage Reports
coverage/
*.coverage
*.coveragexml
*.testresults

# Publish Output
publish/
*.deploy.cmd
*.deploy-readme.txt
*.pdb

# NuGet
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets

# Azure Functions
local.settings.json

# Mac/Linux Hidden Files
.DS_Store
Thumbs.db
